<div class="home">
<div class="home_header">
  <img src="assets/icons/bi_camera.svg" alt="">
  <div>
  <img class="desktop" src="assets/icons/logo.svg" alt="">
  <img class="mobile" src="assets/icons/logo_mobile.svg" alt="">
  </div>
  <div class="with_badge">
  <img src="assets/icons/ph_messenger-logo-light.svg" alt="">
    <div class="badge">
      <span>3</span>
    </div>
  </div>
</div>
  <div class="home_content">
    <h2 class="content_header">Ready to meet single ladies?</h2>
    <div class="main_content">
      <div class="content_visuals">
        <div class="visual">
          <div class="distance">
            <span>2 km away</span>
          </div>
<!--          <img src="assets/images/female1.jpg" alt="">-->
          <div class="bubble left imessage">
            <p>Check below how it's done.</p>
          </div>
        </div>
        <div class="visual">
<!--          <img src="assets/images/female2.jpg" alt="">-->
        </div>
      </div>
      <div class="content_form">
        <p class="content_form_head">Sign up with just a few click: </p>
<!--        <form action="" class="form">-->
          <div class="step_one">
            <p class="step_header">What’s your gender?</p>
            <div class="gender_options">
              <div class="gender_option_item">
                <img src="assets/icons/fa-solid_male.svg" alt="">
                <p>Male</p>
              </div>
              <div class="gender_option_item">
                <img src="assets/icons/fa-solid_female.svg" alt="">
                <p>Female</p>
              </div>
            </div>
          </div>
<!--          <div class="step_two">-->
<!--            <p class="step_header">Have you ever hooked up with someone online before? </p>-->
<!--            <div class="gender_options">-->
<!--                          <div class="gender_option_item">-->
<!--                            <img src="assets/icons/ant-design_check-circle-outlined.svg" alt="">-->
<!--                            <p>Yes</p>-->
<!--                          </div>-->
<!--                          <div class="gender_option_item">-->
<!--                            <img src="assets/icons/ic_outline-cancel.svg" alt="">-->
<!--                            <p>No</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--          </div>-->
<!--          <div class="step_three">-->
<!--            <p class="step_header">Do you want to receive private pictures?</p>-->
<!--            <div class="gender_options">-->
<!--              <div class="gender_option_item">-->
<!--                <img src="assets/icons/ant-design_check-circle-outlined.svg" alt="">-->
<!--                <p>Yes</p>-->
<!--              </div>-->
<!--              <div class="gender_option_item">-->
<!--                <img src="assets/icons/ic_outline-cancel.svg" alt="">-->
<!--                <p>No</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--                      <div class="step_four">-->
<!--                        <p class="step_header">What’re you looking for</p>-->
<!--                        <div class="gender_options">-->
<!--                          <div class="gender_option_item">-->
<!--                            <img src="assets/icons/fa-solid_male.svg" alt="">-->
<!--                            <p>Male</p>-->
<!--                          </div>-->
<!--                          <div class="gender_option_item">-->
<!--                            <img src="assets/icons/fa-solid_female.svg" alt="">-->
<!--                            <p>Female</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                                <div class="step_five">-->
<!--                                  <p class="step_header">Your location:</p>-->
<!--                                  <ng-select [(ngModel)]="selectedCar" [appearance]="'outline'" class="ng-select" [placeholder]="'Enter city name'">-->
<!--                                    <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>-->
<!--                                  </ng-select>-->
<!--                                  <button class="next">Next</button>-->
<!--                                </div>-->
<!--        <div class="step_six">-->
<!--          <p class="step_header">Your location:</p>-->
<!--          <input type="text" class="input_item" placeholder="Username">-->
<!--          <input type="text" class="input_item" placeholder="Password">-->
<!--          <button class="next">Next</button>-->
<!--        </div>-->
<!--        <div class="step_seven">-->
<!--          <p class="step_header">Your location:</p>-->
<!--          <input type="date" class="input_item" placeholder="Your birthday:">-->
<!--          <button class="next">Next</button>-->
<!--        </div>-->
<!--        <div class="step_eight">-->
<!--          <p class="step_header">And lastly, What’s your email?</p>-->
<!--          <input type="email" class="input_item" placeholder="mail@mail.com">-->
<!--          <button class="next">Next</button>-->
<!--        </div>-->
<!--        <div class="step_nine">-->
<!--          <p class="step_header">Confirm your username & password</p>-->
<!--          <input type="text" class="input_item" placeholder="Username" value="KurtCobain">-->
<!--          <input type="email" class="input_item" placeholder="Username" value="mail@mail.com">-->
<!--          <div class="md-checkbox">-->
<!--            <input id="i2" type="checkbox" >-->
<!--            <label for="i2">I certify that I am over 18 years old, and I have read and accept the Terms of Use and our Privacy Policy</label>-->
<!--          </div>-->
<!--          <button class="next">Confirm</button>-->
<!--        </div>-->
<!--        </form>-->
      </div>
    </div>
  </div>
  <div class="home_advantages">
    <div class="advantages_item">
      <img src="assets/icons/el_fire.svg" alt="">
      <p>Crazy matches</p>
    </div>
    <div class="advantages_item">
      <img src="assets/icons/fluent_people-team-32-filled.svg" alt="">
      <p>1000+
        profiles</p>
    </div>
    <div class="advantages_item">
      <img src="assets/icons/bxs_lock.svg" alt="">
      <p>Discreet &
        anonymous</p>
    </div>
  </div>
  <div class="home_footer">
    <div class="footer_content">
      <img src="assets/icons/codicon_home.svg" alt="">
      <img src="assets/icons/bx_search.svg" alt="">
      <div class="with_badge">
        <img src="assets/icons/ci_heart-outline.svg" alt="">
        <div class="badge">
          <span>3</span>
        </div>
      </div>
      <img src="assets/icons/ant-design_user-outlined.svg" alt="">
    </div>
  </div>
</div>
